<%- include('../templates/header'); -%>

<div class="ml-9 mt-4 text-4xl">Contact/Location</div>
<div class="ml-9 pt-8 space-y-3">
    <div class="text-2xl">Dr. Caterina Ramogida</div>
    <div class="">Office: <a href="https://roomfinder.sfu.ca/apps/sfuroomfinder_web/?q=C9035">Simon Fraser University, SSB C9035</a></div>
    <div>Phone: 778-782-4880</div>
    <div>E-mail: <a href= mailto:"cfr@sfu.ca">cfr@sfu.ca</a></div>
</div>







<%- include('../templates/footer'); -%>