<%- include('../templates/header'); -%>

    <div class="ml-9 mt-4 text-4xl">Contact & Location</div>
    <div class="text-center sm:ml-9 pt-8 space-y-3">
        <div class="text-4xl">Dr. Caterina Ramogida</div>
        <div class="text-xl">Office: <a href="https://roomfinder.sfu.ca/apps/sfuroomfinder_web/?q=C9035">Simon Fraser
                University, SSB C9035</a></div>
        <div class="text-xl">Phone: <a href="tel:778-782-4880">778-782-4880</a></div>
        <div class="text-xl">E-mail: <a href=mailto:"cfr@sfu.ca">cfr@sfu.ca</a></div>
    </div>


    <div class="flex mt-4 justify-center">
        <div class="flex border-2 border-black flex-col items-center w-11/12 sm:w-10/12">
            <div class="flex flex-row w-full items-stretch">
                <div class="flex justify-center w-1/2 text-center flex-col">
                    <button id="sfu_button" class="text-2xl border border-black  m-0 py-1">SFU <span class="sm:inline hidden">Chemistry Lab</span></button>
                    <div class="my-3">
                    <div class="text-2xl">Address</div>
                    <div id="sfu_address" class="mt-2 text-xl text-center" style="width: 100%; height: 100%;">
                        <div>
                            Shrum Science Building C8065 <br>
                            Simon Fraser University ​Department of Chemistry <br>
                            8888 University Dr. <br>
                            Burnaby BC
                            V5A 1S6 <br>
                            Canada
                        </div>
                    </div>
                    <div id="triumf_address" class="mt-2 text-xl" style="width: 100%; height: 100%;">
                        <div>
                            Life Sciences <br>
                            ​TRIUMF <br>
                            4004 Wesbrook Mall <br>
                            Vancouver BC <br>
                            V6T 1Z1 <br>
                            Canada
                        </div>
                    </div>
                </div>
                </div>
                <div class="flex justify-center w-1/2 text-center flex-col">
                    <button id="triumf_button" class="text-2xl py-1">Triumf <span class="sm:inline hidden">Radiochemistry Lab</span></button>
                    <div class="text-2xl my-1.5">Location</div>
                    <div id="sfu_map" style="width: 100%; height: 100%;">
                        <iframe style="width:100%; height:100%; border:0;" referrerpolicy="no-referrer-when-downgrade"
                            src="https://www.google.com/maps/embed/v1/place?key=<%= googleMapsKey %>&q=Shrum+Science+Building+C8065+Simon+Fraser+University"
                            allowfullscreen>
                        </iframe>
                    </div>
                    <div id="triumf_map" style="width: 100%; height: 100%;">
                        <iframe style="width:100%; height:100%; border:0;" referrerpolicy="no-referrer-when-downgrade"
                            src="https://www.google.com/maps/embed/v1/place?key=<%= googleMapsKey %>&q=Life+Sciences+Triumf+4004 Wesbrook Mall"
                            allowfullscreen>
                        </iframe>
                    </div>

                </div>


            </div>

            <div id="visible_address" class="flex flex-row w-full">

                <div class="flex text-2xl w-1/2 text-center">

                </div>
            </div>

            <div id="hidden_address" class="flex flex-row w-full">

                <div class="flex justify-center text-xl w-1/2 text-center">

                </div>
            </div>

        </div>





    </div>

    <div class="space-y-1">
        <div class="text-center sm:text-left sm:ml-9 mt-4 text-4xl">Research Positions</div>

        <div class="mx-4 sm:mx-9 text-xl">

            Prospective graduate students, undergraduate researchers, or post-doctoral researchers interested in joining
            the Ramogida group or would like any further information are free to contact me directly: cfr@sfu.ca
            Due to volume of inquiries, only those applicants selected for interview will be notified.
        </div>
    </div>

    <div class="flex mt-4 justify-center">
        <div class="flex border-2 border-black flex-col items-center w-11/12 sm:w-10/12">
            <div class="flex flex-row w-full items-stretch">
                <div id="graduate_button" class="flex justify-center w-1/2 text-center">
                    <button class="text-2xl  m-0 py-1">Graduate <span class="sm:inline hidden">Students</span></button>
                </div>
                <div id="undergrad_button" class="flex justify-center w-1/2 text-center flex-col">
                    <button class="text-2xl py-1">Undergraduate <span class="sm:inline hidden">Students</span></button>
                </div>
            </div>
            <div id="graduate_info" class="text-lg my-4 mx-3">
                The interdisciplinary nature of our research allows graduate students who join my group to gain
                experience
                in multiple disciplines including organic/inorganic chemistry, molecular biology, and radiochemistry. My
                philosophy is to expose graduate students to a variety of experiences during their research in order to
                enhance their options following completion of their degree. Graduate students in my group will have the
                opportunity to do research in our chemistry labs at SFU, our radiochemistry labs at TRIUMF, and work
                closely
                with our collaborators at BC Cancer.

            </div>
            <div id="undergrad_info" class="text-lg my-4 mx-3">
                Research conducted by undergraduate students is an integral part of our research program. A number of
                different undergraduate research opportunities are available:
                <ul>
                    <li> Undergraduate Research Assistant</li>
                    <li> Undergraduate Research Project (CHEM 481 or CHEM 483)</li>
                    <li> Work-study semester</li>
                    <li>NSERC Undergraduate Student Research Award</li>
                    <li>Co-op Student (through TRIUMF Co-op Program)</li>
            </ul>

            </div>
        </div>


    </div>



    </div>


    <script src="scripts/contact.js"></script>

    <%- include('../templates/footer'); -%>