<%- include('../templates/header'); -%>
<div class="ml-9 mt-4 text-4xl">The Group</div>


<section class="container flex justify-center w-8/12 mx-auto">
    <div class="space-y-3 ">
    <div class="slider-wrapper relative max-w-fit mx-auto my-0">
        <div class="slider flex aspect-video overflow-x-auto snap-x snap-mandatory scroll-smooth">
        <img class="grow shrink-0 basis-full snap-start object-cover" id="group_1" src="group_1.jpg" alt="">
        <img class="grow shrink-0 basis-full snap-start object-cover" id="group_2" src="group_2.jpg" alt="">
        <img class="grow shrink-0 basis-full snap-start object-cover" id="group_3" src="group_3.jpg" alt="">
        <img class="grow shrink-0 basis-full snap-start object-cover" id="group_4"src="group_4.jpg" alt="">
        <img class="grow shrink-0 basis-full snap-start object-cover" id="group_5" src="group_5.jpg" alt="">
        <img class="grow shrink-0 basis-full snap-start object-cover" id="group_6" src="group_6.jpg" alt="">
        <img class="grow shrink-0 basis-full snap-start object-cover" id="group_7" src="group_7.jpg" alt="">
        </div>
    </div>
    <div class="slider_nav flex absolute left-1/2 -translate-x-1/2 z-1 space-x-2">
    <a class="w-3 h-3 rounded-full bg-black opacity-75 transition-opacity hover:opacity-100" href="#group_1"></a>
    <a class="w-3 h-3 rounded-full bg-black opacity-75 transition-opacity hover:opacity-100" href="#group_2"></a>
    <a class="w-3 h-3 rounded-full bg-black opacity-75 transition-opacity hover:opacity-100" href="#group_3"></a>
    <a class="w-3 h-3 rounded-full bg-black opacity-75 transition-opacity hover:opacity-100" href="#group_4"></a>
    <a class="w-3 h-3 rounded-full bg-black opacity-75 transition-opacity hover:opacity-100" href="#group_5"></a>
    <a class="w-3 h-3 rounded-full bg-black opacity-75 transition-opacity hover:opacity-100" href="#group_6"></a>
    <a class="w-3 h-3 rounded-full bg-black opacity-75 transition-opacity hover:opacity-100" href="#group_7"></a>
</div>
</div>
</section> 



<%- include('../templates/footer'); -%>