<%- include('../templates/header'); -%>
    <div class="sm:ml-9 mt-4 text-center sm:text-left text-4xl">The Group</div>
    <div class="sm:ml-9 mt-4 text-center sm:text-left sm:mt-8 text-3xl">Principal Investigator</div>


    <div class="sm:flex mb-3 mx-2 sm:mx-9">
        <div class="pt-4 mb-2 sm:mb-0 sm:w-1/2 space-y-3">
            <div class="text-center sm:text-left text-2xl">Dr. Caterina Ramogida</div>
            <img class="sm:w-3/4" src="caterina.jpg" alt="">
            <div class="text-center sm:text-left text-xl">
                BSc (Honours) - Simon Fraser University (2010) <br>
                PhD - University of British Columbia (2015) <br>
                Postdoctoral Research Fellow - TRIUMF (2015 - 2018) <br>
                Assistant Professor - Simon Fraser University (2018 - present)
                <div class="flex flex-row">
                    <a href="https://orcid.org/0000-0003-4815-2647">
                        <img class="max-h-10" src="orcid.png" alt=""></a>
                    <a href="https://linkedin.com/in/caterina-f-ramogida-91045b86"><img class="max-h-10"
                            src="linkedin.png" alt=""></a>
                    <a href="https://x.com/caterinaramogi1"><img class="max-h-10" src="x-logo.png" alt=""></a>
                </div>
            </div>
        </div>
        <div class="sm:w-1/2 overflow-y-scroll">
            <a class="twitter-timeline" data-height="500" data-dnt="true" data-tweet-limit="4"
                href="https://twitter.com/CaterinaRamogi1?ref_src=twsrc%5Etfw">Tweets by CaterinaRamogi1</a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>


    </div>

    <div class="mt-6 mx-9 space-y-4">
        <div class="text-center sm:text-left text-3xl mb-5">Research Associates</div>
        <div class="mt-4 sm:mt-8 sm:flex flex-row sm:space-x-16 justify-center items-center">
            <div class="flex flex-col justify-center space-y-4">
                <img class="rounded-full shadow-lg w-48 h-48 mx-auto" src="SupingBaikabi.jpg" alt=""></img>
                <div class=" text-xl text-center">
                    <div>Suping Baikabi</div>
                    <div class="text-base"> RA/Lab Manager Sept 2024 – Present<br>
                        MSc – Simon Fraser University (2024)</div>
                    <div class="justify-center flex flex-row">
                                    <a href="">
                                        <img class="max-h-10" src="orcid.png" alt=""></a>
                                    <a href="https://www.linkedin.com/in/suping-baikabi/"><img class="max-h-10"
                                            src="linkedin.png" alt=""></a>
                                    <a href=""><img class="max-h-10" src="x-logo.png" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="flex flex-col justify-center space-y-4">
                <img class="rounded-full object-cover shadow-lg w-48 h-48 mx-auto" src="ParmissaRandhawa.jpg"
                    alt=""></img>
                <div class=" text-xl text-center">
                    <div>Parmissa Randhawa</div>
                    <div class="text-base"> PhD | September 2020 - July 2024 <br>
                        ​MSc – University of Victoria (2019)</div>
                        <div class="flex justify-center flex-row">
                            <a href="https://orcid.org/0000-0002-7280-5524">
                                <img class="max-h-10" src="orcid.png" alt=""></a>
                            <a href="https://www.linkedin.com/in/parmissa-randhawa-054b69135/"><img class="max-h-10"
                                    src="linkedin.png" alt=""></a>
                            <a href="https://x.com/parmissaran"><img class="max-h-10" src="x-logo.png" alt=""></a>
                        </div>
                </div>

            </div>
        </div>

    </div>

    <div class="mt-8 mx-9">
        <div class="text-3xl text-center sm:text-left">Graduate Students</div>
        <div class="mt-8 sm:flex flex-row justify justify-between">
            <div class="flex flex-col justify-center sm:w-1/3 space-y-4">
                <img class="rounded-full object-cover shadow-lg w-48 h-48 mx-auto" src="Brooke.jpg" alt=""></img>
                <div class=" text-xl text-center">
                    <div>Brooke McNeil</div>
                    <div class="text-base"> PhD Candidate | September 2020 - Present <br>
                        ​BSc - University of Waterloo (2020)</div>
                        <div class="flex justify-center flex-row">
                            <a href="https://orcid.org/0000-0002-7376-0647  ">
                                <img class="max-h-10" src="orcid.png" alt=""></a>
                            <a href="https://www.linkedin.com/in/brooke-mcneil-01534b1b0/"><img class="max-h-10"
                                    src="linkedin.png" alt=""></a>
                            <a href="https://x.com/brooke_l_mcneil"><img class="max-h-10" src="x-logo.png" alt=""></a>
                        </div>
                </div>

            </div>

            <div class="sm:mt-0 mt-4 flex flex-col justify-center sm:w-1/3 space-y-4">
                <img class="rounded-full shadow-lg object-cover w-48 h-48 mx-auto" src="Aivija.jpg" alt=""></img>
                <div class=" text-xl text-center">
                    <div>Aivija Grundmane</div>
                    <div class="text-base"> ​PhD Candidate | September 2021 - Present <br>
                        MChem - University of Surrey (2021)</div>
                        <div class="flex justify-center flex-row">
                            <a href="https://orcid.org/0000-0002-7158-0749">
                                <img class="max-h-10" src="orcid.png" alt=""></a>
                            <a href="https://www.linkedin.com/in/aivijagrundmane/"><img class="max-h-10"
                                    src="linkedin.png" alt=""></a>
                        </div>
                </div>
            </div>

            <div class="sm:mt-0 mt-4 flex flex-col sm:w-1/3 justify-center space-y-4">
                <img class="rounded-full shadow-lg object-cover w-48 h-48 mx-auto" src="LucasLondon.jpg" alt=""></img>
                <div class=" text-xl text-center">
                    <div>Lucas London</div>
                    <div class="text-base"> MSc Student | January 2023 - Present <br>
                        BSc - Simon Fraser University (2022)</div>
                        <div class="flex justify-center flex-row">
                            <a href="https://orcid.org/0000-0001-7245-2653">
                                <img class="max-h-10" src="orcid.png" alt=""></a>
                            <a href="https://www.linkedin.com/in/lucas-london-58265b147/"><img class="max-h-10"
                                    src="linkedin.png" alt=""></a>
                            <a href="https://mastodon.social/@LucasLondon"><img class="max-h-10" src="x-logo.png" alt=""></a>
                        </div>
                </div>
            </div>
        </div>

        <div class="mt-8 sm:flex flex-row justify  justify-between">

            <div class="sm:mt-0 mt-4 flex flex-col sm:w-1/3 justify-center space-y-4">
                <img class="rounded-full shadow-lg object-cover w-48 h-48 mx-auto" src="SimonaMastroianni.jpg"
                    alt=""></img>
                <div class="text-xl text-center">
                    <div>Simona Mastroianni</div>
                    <div class="text-base"> MSc Student | September 2023 - Present <br>
                        BSc - University of British Columbia (2023)</div>
                </div>
                <div class="flex justify-center flex-row">
                    <a href="">
                        <img class="max-h-10" src="orcid.png" alt=""></a>
                    <a href=""><img class="max-h-10"
                            src="linkedin.png" alt=""></a>
                    <a href="https://mastodon.social/@LucasLondon"><img class="max-h-10" src="x-logo.png" alt=""></a>
                </div>
                
            </div>

            <div class="sm:mt-0 mt-4 flex flex-col sm:w-1/3 justify-center space-y-4">
                <img class="rounded-full shadow-lg object-cover w-48 h-48 mx-auto" src="JordanneBurgess.jpeg"
                    alt=""></img>
                <div class=" text-xl text-center">
                    <div>Jordanne Burgess</div>
                    <div class="text-base"> MSc Student | September 2023 - Present <br>
                        BSc - Simon Fraser University (2023)</div>
                        <div class="flex justify-center flex-row">
                            <a href="https://orcid.org/0009-0007-1576-6147">
                                <img class="max-h-10" src="orcid.png" alt=""></a>
                            <a href="www.linkedin.com/in/jordanne-burgess-5aa1bb291 "><img class="max-h-10"
                                    src="linkedin.png" alt=""></a>
                            <a href=""><img class="max-h-10" src="x-logo.png" alt=""></a>
                        </div>
                </div>
            </div>

            <div class="sm:mt-0 mt-4 flex flex-col sm:w-1/3 justify-center space-y-4">
                <img class="rounded-full shadow-lg object-cover w-48 h-48 mx-auto" src="Tiago.jpg" alt=""></img>
                <div class=" text-xl text-center">
                    <div>Tiago Fisher</div>
                    <div class="text-base">
                        MSc Student | September 2024 – present <br>
                        BSc – University of Victoria (2023)</div>
                        <div class="flex justify-center flex-row">
                            <a href="">
                                <img class="max-h-10" src="orcid.png" alt=""></a>
                            <a href="https://www.linkedin.com/in/tiago-fisher-828b32238/?originalSubdomain=ca"><img class="max-h-10"
                                    src="linkedin.png" alt=""></a>
                            <a href=""><img class="max-h-10" src="x-logo.png" alt=""></a>
                        </div>
                </div>
            </div>


        </div>

        <div class="mt-8 sm:flex flex-row justify justify-center">
            <div class="sm:mt-0 mt-4 flex flex-col sm:w-1/3 justify-center space-y-4">
                <img class="rounded-full shadow-lg object-cover w-48 h-48 mx-auto" src="Jadon.jpg" alt=""></img>
                <div class=" text-xl text-center">
                    <div>Jadon Khouv</div>
                    <div class="text-base">
                        MSc Student | September 2024 – present <br>
                        BSc – University of Manitoba (2024)</div>
                </div>
                <div class="flex justify-center flex-row">
                    <a href="">
                        <img class="max-h-10" src="orcid.png" alt=""></a>
                    <a href="https://www.linkedin.com/in/jadon-khouv-021997197/"><img class="max-h-10"
                            src="linkedin.png" alt=""></a>
                    <a href=""><img class="max-h-10" src="x-logo.png" alt=""></a>
                </div>
            </div>
        </div>

        <div class="text-center sm:text-left text-3xl mb-5">Research Associates</div>
        <div class="mt-8 sm:flex flex-row justify justify-center">
            <div class="sm:mt-0 mt-4 flex flex-col sm:w-1/3 justify-center space-y-4">
                <img class="rounded-full shadow-lg object-cover w-48 h-48 mx-auto" src="Default.png" alt=""></img>
                <div class=" text-xl text-center">
                    <div>Lauren Aburto-Kung</div>
                    <div class="text-base">
                        Undergraduate Student, NSERC USRA | September 2024 - Present
                        </div>
                </div>
                <div class="flex justify-center flex-row">
                    <a href="">
                        <img class="max-h-10" src="orcid.png" alt=""></a>
                    <a href="https://www.linkedin.com/in/jadon-khouv-021997197/"><img class="max-h-10"
                            src="linkedin.png" alt=""></a>
                    <a href=""><img class="max-h-10" src="x-logo.png" alt=""></a>
                </div>
            </div>
        </div>



        <div class="text-center sm:text-left mt-8 text-3xl">Group Alumni</div>
        <div class="mt-6 flex flex-row">
            <div class="w-1/3 text-center">
                <div class="text-xl">
                    Kalvin Kwan</div>
                <div class="text-base">RA/Lab Manager | November 2023 - August 2024; <br> Current position: Medical
                    Student</div>
            </div>
            <div class="w-1/3 text-center">
                <div class="text-xl">Siuwong Chan</div>
                <div class="text-base">MSc | January 2020 - June 2024</div>
            </div>

            <div class="w-1/3 text-center">
                <div class="text-xl">Dr. Imma Carbo-Bague</div>
                <div class="text-base">PhD | 2023</div>
                <div class="text-base">​Current Position: Scientist, Alpha-9 Theranostics</div>
            </div>
        </div>

        <div class="mt-6 flex flex-row">
            <div class="w-1/3 text-center">
                <div class="text-xl">Rachel DeCicco</div>
                <div class="text-base">​NSERC USRA | May 2023 - August 2023</div>
            </div>
            <div class="w-1/3 text-center">
                <div class="text-xl">Charlene Harriswangler-Harriswangler</div>
                <div class="text-base">Visiting Graduate Student | May - July 2023</div>
            </div>

            <div class="w-1/3 text-center">
                <div class="text-xl">Dr. Marianna Tosato</div>
                <div class="text-base">Visiting PDF | September 2022 - March 2023</div>
            </div>
        </div>

        <div class="mt-6 flex flex-row">
            <div class="w-1/3 text-center">
                <div class="text-xl">Karla Olguin Curiel</div>
                <div class="text-base">MSc Student | September 2019 - Present</div>
                <div class="text-base">Current Position: Radiochemist (BC Cancer)​</div>
            </div>
            <div class="w-1/3 text-center">
                <div class="text-xl">Kelly Barker</div>
                <div class="text-base">BSc Research Assistant | ​May - August 2022</div>
            </div>

            <div class="w-1/3 text-center">
                <div class="text-xl">Victoria Brown</div>
                <div class="text-base">MSc | September 2019 - November 2021</div>
                <div class="text-base">Current Position: Radiochemist (BC Cancer)</div>
            </div>
        </div>

        <div class="mt-6 flex flex-row">
            <div class="w-1/3 text-center">
                <div class="text-xl">Cailum Stienstra</div>
                <div class="text-base">BSc Co-op Student | January - August 2021</div>
                <div class="text-base">Current Position: Graduate Student (Waterloo)</div>
            </div>
            <div class="w-1/3 text-center">
                <div class="text-xl">Dr. Anthony McDonagh</div>
                <div class="text-base">​PDF | January 2019 - March 2021</div>
                <div class="text-base">​Current Position: Senior Scientist, Abdera</div>
            </div>

            <div class="w-1/3 text-center">
                <div class="text-xl">Lexi (Kaley) Gower-Fry</div>
                <div class="text-base">BSc Honours Student | September 2019 - April 2020</div>
                <div class="text-base">BSc Student RA | January 2019 - August 2020</div>
                <div class="text-base">​Current Position: Graduate Student (U. Alberta)</div>
            </div>
        </div>

        <div class="mt-6 flex flex-row">
            <div class="w-1/3 text-center">
                <div class="text-xl">James Thorpe</div>
                <div class="text-base">BSc Exchange CHEM 481 Student | January - April 2020</div>
            </div>
            <div class="w-1/3 text-center">
                <div class="text-xl">Keiran Maskell</div>
                <div class="text-base">BSc Student Volunteer |​ October 2018 - May 2019</div>
            </div>

            <div class="w-1/3 text-center">
                <div class="text-xl">Joban Kaur Machhiana</div>
                <div class="text-base">BSc Student Volunteer | ​January - August 2019</div>
            </div>
        </div>





        <section class="container flex justify-center mt-7 sm:w-8/12 mx-auto">
            <div class="space-y-3 ">
                <div class="slider-wrapper relative max-w-fit mx-auto my-0">
                    <div class="slider flex aspect-video overflow-x-auto snap-x snap-mandatory scroll-smooth">

                        <img class="grow shrink-0 basis-full snap-start object-cover" id="group_8"
                            src="group_8.jpg"></img>
                        <img class="grow shrink-0 basis-full snap-start object-cover" id="group_7" src="group_7.jpg"
                            alt=""></img>
                        <img class="grow shrink-0 basis-full snap-start object-cover" id="group_6" src="group_6.jpg"
                            alt=""></img>
                        <img class="grow shrink-0 basis-full snap-start object-cover" id="group_5" src="group_5.jpg"
                            alt=""></img>
                        <img class="grow shrink-0 basis-full snap-start object-cover" id="group_4" src="group_4.jpg"
                            alt=""></img>
                        <img class="grow shrink-0 basis-full snap-start object-cover" id="group_3" src="group_3.jpg"
                            alt=""></img>
                        <img class="grow shrink-0 basis-full snap-start object-cover" id="group_2" src="group_2.jpg"
                            alt=""></img>
                        <img class="grow shrink-0 basis-full snap-start object-cover" id="group_1" src="group_1.jpg"
                            alt=""></img>

                    </div>
                </div>
                <div class="slider_nav flex absolute left-1/2 -translate-x-1/2 z-1 space-x-2">
                    <a class="w-3 h-3 rounded-full bg-black opacity-75 transition-opacity hover:opacity-100"
                        href="#group_8"></a>
                    <a class="w-3 h-3 rounded-full bg-black opacity-75 transition-opacity hover:opacity-100"
                        href="#group_7"></a>
                    <a class="w-3 h-3 rounded-full bg-black opacity-75 transition-opacity hover:opacity-100"
                        href="#group_6"></a>
                    <a class="w-3 h-3 rounded-full bg-black opacity-75 transition-opacity hover:opacity-100"
                        href="#group_5"></a>
                    <a class="w-3 h-3 rounded-full bg-black opacity-75 transition-opacity hover:opacity-100"
                        href="#group_4"></a>
                    <a class="w-3 h-3 rounded-full bg-black opacity-75 transition-opacity hover:opacity-100"
                        href="#group_3"></a>
                    <a class="w-3 h-3 rounded-full bg-black opacity-75 transition-opacity hover:opacity-100"
                        href="#group_2"></a>
                    <a class="w-3 h-3 rounded-full bg-black opacity-75 transition-opacity hover:opacity-100"
                        href="#group_1"></a>

                </div>
            </div>
        </section>



        <%- include('../templates/footer'); -%>