<%- include('../templates/header'); -%>
<div class="pt-12 text-7xl text-center flex flex-row justify-between">
    <div class="w-1/6">
    </div>
    <div class="w-3/6 items-center flex flex-col"> 
        <div>Nuclear Medicinal Chemistry Research Group at Simon Fraser University</div>
        <div class="pt-4 text-xl">We work closely with our collaborators at <a id="triumf" class="font-semibold" href="https://www.triumf.ca/">TRIUMF</a> - Canada's particle accelerator centre - to produce innovative and unconventional radiometals, and <a id="bccancer" class="font-semibold" href="http://www.bccancer.bc.ca/">BC Cancer</a> - to evaluate our radiopharmaceuticals <span class="italic">in vivo</span>.</div>
        <a href="/research" id="link_button" class="text-xl mt-4 rounded-full border-4">
            Research Overview
        </a>
    </div>
    <div class="w-1/6"></div>
</div>






<%- include('../templates/footer'); -%>