<%- include('../templates/header'); -%>

<div class="w-1/2" style="height: 600px; overflow-y: scroll;">
    <a class="twitter-timeline" href="https://twitter.com/CaterinaRamogi1" data-tweet-limit="5"></a> 
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>



<%- include('../templates/footer'); -%>