<%- include('../templates/header'); -%>
<div class="ml-9 mt-4 text-4xl">Publications</div>

<div id="dateSlider" class="my-4 flex justify-between text-2xl mx-9">
</div>


<div class="mx-9" id="publications">
    <ul class="space-y-3 block" id="2023">
        <li> McNeil, BL; Mastroianni, SA; McNeil, SW; Zeisler, S; Kumlin, J; Borjian, S; McDonagh, AW; Cross, M; Schaffer, P; Ramogida, CF (2023) Optimized production, purification, and radiolabeling of the 203Pb/212Pb theranostic pair for nuclear medicine. Scientific Reports, 13, 10623. https://www.nature.com/articles/s41598-023-37313-8</li>
        <li> Kostelnik, TI; Olson, AP; Grundmane, A; Ellison, PA; Mynerich, J; Chen, S; Marinova, A; Randhawa, P; Karaivanov, D; Aluicio-Sarduy, E; Barnhart, T; Orvig, C; Ramogida, CF; Hoehr, C; Filosofov, D; Engle, JW; Radchenko, V (2023) Production and radiochemistry of antimony-120m: Efforts toward Auger electron therapy with 119Sb. Nuclear Medicine and Biology, 122-123, 108352. https://doi.org/10.1016/j.nucmedbio.2023.108352</li>
        <li> Randhawa, P; Gower-Fry, LK; Stienstra, CMK; Tosato, M; Chen, S; Gao, Y; McDonagh, AW; Di Marco, V; Radchenko, V; Schreckenback, G; Ramogida, CF (2023) Selective Chelation of the Exotic Meitner-Auger Emitter Mercury-197m/g with Sulfur-rich Macrocyclic Ligands: Towards the Future of Theranostic Radiopharmaceuticals. Chemistry – A European Journal, 29, e202203815​. https://doi.org/10.1002/chem.202203815</li>
        <li> Chen, S; Bas, M; Happel, S; Randhawa, P; McNeil, S; Kurakina, E; Zeisler, S; Maskell, K; Hoehr, C; Ramogida, CF; Radchenko, V (2023) Determination of distribution coefficients of mercury and gold on selected extraction chromatographic resins – towards an improved separation method of mercury-197 from proton-irradiated gold targets. Journal of Chromatography A, 1688, 463717. https://doi.org/10.1016/j.chroma.2022.463717</li>
        <li> Carbo-Bague, I; Li, C; McNeil, BL; Gao, Y; McDonagh, AW; Van der Voorde, M; Ooms, M; Kunz, P; Yang, H; Radchenko, V; Schreckenback, G; Ramogida, CF (2023) Comparative Study of a Decadentate Acyclic Chelate, HOPO-O10, and Its Octadentate Analogue, HOPO-O­8, for Radiopharmaceutical Applications. Inorganic Chemistry, asap. https://pubs.acs.org/doi/10.1021/acs.inorgchem.2c03671</li>
    </ul>
</div>

<script src="scripts/publications.js"></script>


<%- include('../templates/footer'); -%>