<%- include('../templates/header'); -%>
    <div class="ml-9 mt-4 text-4xl">Publications</div>

    <div id="dateSlider" class="my-4 flex justify-between text-2xl mx-9">
    </div>


    <div class="mt-6 mx-9 space-y-3" id="publications">
        <ul class="space-y-3 block" id="2024">

            <li>Randhawa, P; Stienstra, CMK; Chen, S; Gao, Y; Schreckenbach, G; Radchenko, V; Ramogida, CF*(2024)
                Development of Thioacrown Ligands for Encapsulation of Mercury-197m/g into Radiopharmaceuticals. Dalton
                Transactions, DOI <a class="underline"
                    href="https://doi.org/10.1039/D4DT02427C">https://doi.org/10.1039/D4DT02427C</a></a>
            </li>
            <div class="flex justify-center"><img class="" src="Randhawa.png" alt=""></div>

            <li>Randhawa, P; Kadassery, KJ; McNeil, BL; MacMillan, SN; Wharton, L; Yang, H; Wilson, JJ*; Ramogida,
                CF*(2024) The H2Sxmacropa Series: Increasing the Chemical Softness of H2macropa with Sulfur Atoms to
                Chelate Radiometals [213Bi]Bi3+ and [203Pb]Pb2+ for Radiopharmaceutical Applications. Inorganic
                Chemistry,
                <a class="underline"
                    href="https://doi.org/10.1021/acs.inorgchem.4c03498">https://doi.org/10.1021/acs.inorgchem.4c03498</a></a>
            </li>
            <div class="flex justify-center"><img class="" src="Randhawa2.png" alt=""></div>

            <li>McNeil, BL; Ramogida, CF* (2024) From cyclotrons to chromatography and beyond: a guide to the production
                and purification of theranostic radiometals. Chemical Society Reviews, DOI:

                <a class="underline"
                    href="https://pubs.rsc.org/en/content/articlelanding/2024/cs/d4cs00802b">10.1039/D4CS00802B</a></a>
            </li>
            <div class="flex justify-center"><img class="" src="McNeil2024.png" alt=""></div>
            <li>Grundmane, A; Radchenko, V; Ramogida, CF* (2024) Chemistry of Antimony in Radiopharmaceutical
                Development:
                Unlocking the Theranostic Potential of Sb Isotopes. ChemPlusChem, e202400250.

                <a class="underline"
                    href="https://doi.org/10.1002/cplu.202400250 ">https://doi.org/10.1002/cplu.202400250 </a></a>
            </li>
            <div class="flex justify-center"><img class="" src="Grundmane 2024.png" alt=""></div>

            <li>Tosato, M*; Randhawa, P; Asti, M; Hemmingsen, L; O’Shea, C; Thaveenrasingam, P; Sauer, S; Chen, S;
                Graiff, C; Menegazzo, I; Baron, M; Radchenko, V; Ramogida, CF, Di Marco, V (2024) Capturing
                Mercury-197m/g for Auger Electron Therapy and Cancer Theranostics with Sulfur-Containing Cyclen-Based
                Macrocycles. Inorganic Chemistry, 63, 14241-14255.

                <a class="underline" href="https://doi.org/10.1021/acs.inorgchem.4c02418
                    ">https://doi.org/10.1021/acs.inorgchem.4c02418
                </a></a>
            </li>
            <div class="flex justify-center"><img class="" src="Tosanto2024.png" alt=""></div>
            <li>Harriswangler, C; McNeil, BL; Brandariz, I; Valencia, L; Esteban-Gómez; Ramogida, CF*; Platas-Iglesias,
                C* (2024) Incorporation of Carboxylate Pendant Arms into 18-Membered Macrocycles: Effect on
                [nat/203Pb]Pb(II) Complexation. Chemistry – A European Journal, 30, e202400434.


                <a class="underline" href="https://doi.org/10.1002/chem.202400434
                    ">https://doi.org/10.1002/chem.202400434
                </a></a>
            </li>
            <div class="flex justify-center"><img class="" src="Harriswangler.png" alt=""></div>
            <li>Koller, AJ; Glaser, O; Motz, RN; Amason, E; Carbo-Bague, I; Mixdorf, JC; Guzei, IA; Aluicio-Sarduy, E;
                Śmiłowicz, D ; Barnhart, TE ; Ramogida, CF; Nolan, EM; Engle, JW; Boros, E* (2024) “Off-Label” Use of
                Enterobactin Enables Targeted Imaging of Cancer with Radioactive Ti(IV). Angewandte Chemie International
                Edition, 63, e202319578.


                <a class="underline" href="https://doi.org/10.1002/anie.202319578
                    ">https://doi.org/10.1002/anie.202319578
                </a></a>
            </li>
            <div class="flex justify-center"><img class="" src="Koller.png" alt=""></div>

            <li>Randhawa, P; Carbo-Bague, I; Davey, PRWJ; Chen, S; Merken, H; Uribe, CF; Zhang, C; Tosato, M; Bénard, F;
                Radchenko, V; Ramogida, CF* (2024) Exploration of Commercial Cyclen-Based Chelators for Mercury-197m/g
                Incorporation into Theranostic Radiopharmaceuticals. Frontiers in Chemistry, 12:1292566. doi:
                <a class="underline" href="10.3389/fchem.2024.1292566
                    ">10.3389/fchem.2024.1292566
                </a></a>
                <div class="flex justify-center"><img class="" src="Randhawa3.png" alt=""></div>

            </li>
            <li>Tosato, M; Randhawa, P; Lazzari, L; McNeil, BL; Dalla Tiezza, M; Zanoni, G; Mancin, F; Orian, L;
                Ramogida, CF; De Marco, V* (2024) Tuning the Softness of the Pendant Arms and the Polyazamacrocyclic
                Backbone to Chelate the 203Pb/212Pb Theranostic Pair. Inorganic Chemistry, 63(4), 1745-1758.
                <a class="underline" href="https://doi.org/10.1021/acs.inorgchem.3c02610
                    ">https://doi.org/10.1021/acs.inorgchem.3c02610
                </a></a>
            </li>
            <div class="flex justify-center"><img class="" src="Tosanto2.png" alt=""></div>


            <li>Carbo-Bague, I‡; Saini, S‡; Cingoranelli, SJ; Davey, PRWJ; Tosato, M; Lapi, SE*; Ramogida, CF* (2024)
                Evaluation of a novel hexadentate 1,2-hydroxypyridinone-based acyclic chelate, HOPO-O6-C4, for
                43Sc/47Sc, 68Ga, and 45Ti radiopharmaceuticals. Nuclear Medicine and Biology, 128, 108872. ‡authors
                contributed equally to the work.
                <a class="underline" href="https://doi.org/10.1016/j.nucmedbio.2023.108872
                    ">https://doi.org/10.1016/j.nucmedbio.2023.108872
                </a></a>
            </li>
            <div class="flex justify-center"><img class="" src="Carbo-Bague.png" alt=""></div>

            <li>Harriswangler, C; McNeil, BL; Brandariz-Lendoiro, I; Lucio-Martínez, F; Valencia, L; Esteban-Gómez, D;
                Ramogida, CF*; Platas-Iglesias, C* (2024) Exploring the use of rigid 18-membered macrocycles with amide
                pendant arms for Pb(II)-based radiopharmaceuticals. Inorganic Chemistry Frontiers, 11, 1070-1086.
                <a class="underline" href="https://doi.org/10.1039/D3QI02354K
                    ">https://doi.org/10.1039/D3QI02354K
                </a></a>
            </li>
            <div class="flex justify-center"><img class="" src="Harriswangler2.png" alt=""></div>




        </ul>







        <ul class="space-y-3 block" id="2023">
            <li>McNeil, BL; Mastroianni, SA; McNeil, SW; Zeisler, S; Kumlin, J; Borjian, S; McDonagh, AW; Cross, M;
                Schaffer, P; Ramogida, CF (2023) Optimized production, purification, and radiolabeling of the
                203Pb/212Pb theranostic pair for nuclear medicine. Scientific Reports, 13, 10623.
                <a class="underline"
                    href="https://www.nature.com/articles/s41598-023-37313-8">https://www.nature.com/articles/s41598-023-37313-8</a>
            </li>
            <li>Kostelnik, TI; Olson, AP; Grundmane, A; Ellison, PA; Mynerich, J; Chen, S; Marinova, A; Randhawa, P;
                Karaivanov, D; Aluicio-Sarduy, E; Barnhart, T; Orvig, C; Ramogida, CF; Hoehr, C; Filosofov, D; Engle,
                JW; Radchenko, V (2023) Production and radiochemistry of antimony-120m: Efforts toward Auger electron
                therapy with 119Sb. Nuclear Medicine and Biology, 122-123, 108352.
                <a class="underline"
                    href="https://doi.org/10.1016/j.nucmedbio.2023.108352">https://doi.org/10.1016/j.nucmedbio.2023.108352</a>

            </li>
            <li>Randhawa, P; Gower-Fry, LK; Stienstra, CMK; Tosato, M; Chen, S; Gao, Y; McDonagh, AW; Di Marco, V;
                Radchenko, V; Schreckenback, G; Ramogida, CF (2023) Selective Chelation of the Exotic Meitner-Auger
                Emitter Mercury-197m/g with Sulfur-rich Macrocyclic Ligands: Towards the Future of Theranostic
                Radiopharmaceuticals. Chemistry – A European Journal, 29, e202203815​.
                <a class="underline"
                    href="https://doi.org/10.1002/chem.202203815">https://doi.org/10.1002/chem.202203815</a>
            </li>
            <div class="flex justify-center"><img class="flex items-center h-64" src="NS4 TOC.png" alt=""></img>
            </div>
            <li>Chen, S; Bas, M; Happel, S; Randhawa, P; McNeil, S; Kurakina, E; Zeisler, S; Maskell, K; Hoehr, C;
                Ramogida, CF; Radchenko, V (2023) Determination of distribution coefficients of mercury and gold on
                selected extraction chromatographic resins – towards an improved separation method of mercury-197 from
                proton-irradiated gold targets. Journal of Chromatography A, 1688, 463717.
                <a class="underline"
                    href="https://doi.org/10.1016/j.chroma.2022.463717">https://doi.org/10.1016/j.chroma.2022.463717</a>
            </li>
            <li>Carbo-Bague, I; Li, C; McNeil, BL; Gao, Y; McDonagh, AW; Van der Voorde, M; Ooms, M; Kunz, P; Yang, H;
                Radchenko, V; Schreckenback, G; Ramogida, CF (2023) Comparative Study of a Decadentate Acyclic Chelate,
                HOPO-O10, and Its Octadentate Analogue, HOPO-O­8, for Radiopharmaceutical Applications. Inorganic
                Chemistry, asap.
                <a class="underline"
                    href="https://pubs.acs.org/doi/10.1021/acs.inorgchem.2c03671">https://pubs.acs.org/doi/10.1021/acs.inorgchem.2c03671</a>
            </li>
            <div class="flex justify-center"><img class="flex items-center h-64" src="HOPO-010 TOC.jpg" alt=""></img>
            </div>

        </ul>
        <ul class="space-y-3 block" id="2022">
            <li>Baimukhanova, A; Engudar, G; Marinov, G; Kurakina, E; Dadakhanov, J; Karaivanov, D; Yang, H; Ramogida,
                CF; Schaffer, P; Magomedbekov, EP; Filosofov, D; Radchenko, V (2022) An alternative radiochemical
                separation strategy for isolation of Ac and Ra isotopes from high energy proton irradiated thorium
                targets for further application in Targeted Alpha Therapy (TAT). Nuclear Medicine and Biology, 112, 35 –
                43. <a class="underline"
                    href="https://doi.org/10.1016/j.nucmedbio.2022.06.003">https://doi.org/10.1016/j.nucmedbio.2022.06.003</a>
            </li>
            <li>McDonagh, AW; McNeil, BL; Rousseau, J; Roberts, RJ; Merkens, H; Yang, H; Bénard, F; Ramogida, CF (2022)
                Development of a multi faceted platform containing a tetrazine, fluorophore and chelator: synthesis,
                characterization, radiolabeling and immuno-SPECT imaging. EJNMMI Radiopharmacy & Chemistry, 7, 12.
                <a class="underline"
                    href="https://doi.org/10.1186/s41181-022-00164-1">https://doi.org/10.1186/s41181-022-00164-1</a>
            </li>
            <div class="flex justify-center"><img class="flex items-center h-64" src="do3a.jpg" alt=""></img>
            </div>

            <li>McNeil, BL; Kadassery, KJ; McDonagh, AW; Zhou, W; Schaffer, P; Wilson, JJ; Ramogida, CF (2022)
                Evaluation of the Effect of Macrocyclic Ring Size on [203Pb]Pb(II) Complex Stability in
                Pyridyl-Containing Chelators. Inorganic Chemistry, 61 (25), 9638 – 9649.
                <a class="underline"
                    href="https://doi.org/10.1021/acs.inorgchem.2c01114">https://doi.org/10.1021/acs.inorgchem.2c01114</a>
            </li>

            <div class="flex justify-center"><img class="flex items-center h-64" src="Pb-pyridyl TOC.jpg" alt=""></img>
            </div>
            <li>Hu, A; Brown, V; MacMillan, SN; Radchenko, V; Yang, H; Wharton, L; Ramogida, CF; Wilson, JJ (2022)
                Chelating the Alpha Therapy Radionuclides 225Ac3+ and 213Bi3+ with 18-Membered Macrocyclic Ligands
                Macrodipa and Py-Macrodipa. Inorganic Chemistry, 61 (2), 801 – 806.
                <a class="underline"
                    href="https://doi.org/10.1021/acs.inorgchem.1c03670">https://doi.org/10.1021/acs.inorgchem.1c03670</a>
            </li>
        </ul>
        <ul class="space-y-3 block" id="2021">
            <li>Yang, H; Wilson, JJ; Orvig, C; Li, Y; Wilbur, DS; Ramogida, CF; Radchenko, V; Schaffer P (2021)
                Harnessing alpha-emitting radionuclides for therapy: radiolabeling method review. Journal of Nuclear
                Medicine, 62, jnumed.121.262687; DOI:
                <a class="underline"
                    href="https://doi.org/10.2967/jnumed.121.262687">https://doi.org/10.2967/jnumed.121.262687</a>
            </li>
            <li>Radchenko, V; Morgenstern, A; Jalilian, A; Ramogida, CF; Cutler, CS; Duchemin, C; Hoehr, C; Haddad, F;
                Bruchertseifer, F; Gausemel, H; Yang, H; Osso, JA; Washiyama, K; Czerwinski, K; Leufgen, K; Pruszynski,
                M; Valzdof, O; Causey, P; Schaffer, P; Perron, R; Samasonov, M; Wilbur, DS; Stora, Thierry; Li, Y (2021)
                Production and supply of alpha particle emitting radionuclides for Targeted Alpha Therapy (TAT). Journal
                of Nuclear Medicine, 62, jnumed.120.261016; DOI:
                <a class="underline"
                    href="https://doi.org/10.2967/jnumed.120.261016">https://doi.org/10.2967/jnumed.120.261016</a>
            </li>

            <li>McDonagh, AW; McNeil, BL; Patrick, BO; Ramogida, CF (2021) Synthesis and Evaluation of Bifunctional
                [2.2.2]-Cryptands for Nuclear Medicine Applications. Inorganic Chemistry, 60, 13, 10030-10037. doi:
                <a class="underline" href="10.1021/acs.inorgchem.1c01274">10.1021/acs.inorgchem.1c01274</a>
            </li>

            <div class="flex justify-center"><img class="flex items-center h-64" src="IC 2021.gif" alt=""></img>
            </div>
            <li>Hu, A; Aluicio-Sarduy, E; Brown, V; MacMillan, SN; Becker, KV; Barnhart, TE; Radchenko, V; Ramogida, CF;
                Engle, JW; Wilson, JJ (2021) Py-Macropida: A Janus Chelator Capable of Binding Medicinally Relevant
                Rare-Earth Radiometals of Disparate Sizes. Journal of the American Chemistry Society, 142, 27, 10429 –
                10440. doi:
                <a class="underline" href="10.1021/jacs.1c05339">10.1021/jacs.1c05339</a>
            </li>
            <li>Fiszbein, DJ; Brown, V; Thiele, NA; Woods, JJ; Wharton, L; MacMillan, SN; Radchenko, V; Ramogida, CF;
                Wilson, JJ (2021) Tuning the Kinetic Inertness of Bi3+ Complexes: The Impact of Donor Atoms on
                Diaza-18-Crown-6 Ligands as Chelators for 213Bi Targeted Alpha Therapy. Inorganic Chemistry, 60, 12,
                9199 – 9211. doi:
                <a class="underline" href="10.1021/acs.inorgchem.1c01269">10.1021/acs.inorgchem.1c01269</a>.
            </li>
            <li>Carbo-Bague, I; Ramogida, CF (2021) Emerging Therapeutic Radiopharmaceuticals and Their Theranostic
                Pairs. Encyclopedia of Inorganic and Bioinorganic Chemistry. doi: 10.1002/9781119951438.eibc2763</li>
            <li>McNeil, BL; Robertson, AKH; Fu, W; Yang, H; Hoehr, C; Ramogida, CF; Schaffer, P. (2021) Production,
                purification, and radiolabeling of the 203Pb/212Pb theranostic pair. EJNMMI Radiopharmacy and Chemistry,
                6, 6, 1 – 18.
            <li>Randhawa, P; Olson, A P; Chen, S; Gower-Fry, KL; Hoehr, C; Engle, JW; Ramogida, CF; Radchenko, V (2021)
                Meitner-Auger electron emitters for targeted radionuclide therapy: Mercury-197m/g and Antimony-119.
                Current Radiopharmaceuticals (in press).
            <li>Yang, H., Gao, F., McNeil, B., Zhang, C., Zeisler, S., Kumlin, J., Zeisler, J., Bénard, F., Ramogida,
                C.F.; Schaffer, P. (2021) Synthesis of DOTA-pyridine chelates for ⁶⁴Cu coordination and radiolabeling of
                αMSH peptide. EJNMMI Radiopharmacy and Chemistry, 6, 3, 1 – 16.
        </ul>
        <ul class="space-y-3 block" id="2019">
            <li> Ramogida, C. F.,Robertson, A.K.H., Jermilova, U., Zhang, C., Yang, H., Kunz, P., Lassen, J.,
                Bratanovic, I., Brown, V., Southcott, L., Rodriguez-Rodriguez, C., Radchenko, V., Bénard, F., Orvig, C.,
                Schaffer, P (2019) Evaluation of polydentate picolinic acid chelating ligands and an alpha-melanocyte
                stimulating hormone derivative for targeted alpha therapy using ISOL-produced Ac-225. EJNMMI
                Radiopharmacy and Chemistry, 4, 1 – 21. doi:
                <a class="underline" href="10.1186/s41181-019-0072-5">10.1186/s41181-019-0072-5</a>
            </li>
        </ul>
        <ul class="space-y-3 block" id="2018">
            <li>Wang, X., Jaraquemada-Peláez, M. de G., Rodríguez-Rodríguez, C., Cao, Y., Buchwalder, C., Choudhary, N.,
                Jermilova, U., Ramogida, C. F., Saatchi, K., Häfeli, U. O., Patrick, B. O., Orvig, C. (2018) H4octox:
                Versatile Bimodal Octadentate Acyclic Chelating Ligand for Medicinal Inorganic Chemistry. J. Am. Chem.
                Soc. 140, 15487-15500.
            <li>Robertson, A.K.H., Ramogida, C.F, Schaffer, P., Radchenko, V. (2018) Development of 225Ac
                radiopharmaceuticals: TRIUMF perspectives and experiences. Current Radiopharmaceuticals, 11, 156-172.
                DOI:
                <a class="underline" href="10.2174/1874471011666180416161908​">10.2174/1874471011666180416161908​</a>.
            </li>
            <li>Dias, G.M., Ramogida, C.F., Rousseau, J., Zacchia, N.A., Hoehr, C., Schaffer, P., Lin, K.-S., Bénard, F.
                (2018) 89Zr for antibody labelling and in vivo studies – a comparison between liquid and solid target
                production. Nuclear Medicine and Biology, 58, 1 – 7. doi:
                <a class="underline" href="10.1016/j.nucmedbio.2017.11.005">10.1016/j.nucmedbio.2017.11.005</a>
            </li>.
        </ul>
        <ul class="space-y-3 block" id="2017">
            <li>Thiele, N.A., Brown, V., Kelly, J.M., Amor-Coarasa, A., Jermilova, U., MacMillan, S.N., Nikolopoulou,
                A., Ponnala, S., Ramogida, C.F., Robertson, A.K.H., Rodríguez-Rodríguez, C., Schaffer, P., Williams,
                C.Jr., Babich, J.W., Radchenko, V., Wilson, J.J. (2017) An Eighteen-membered macrocyclic ligand for
                actinium-225 targeted alpha therapy. Angewandte Chemie., 57, 14712 – 14717. doi:
                <a class="underline" href="10.1002/anie.201709532
                and 10.1002/ange.201709532"></a>10.1002/anie.201709532
                and 10.1002/ange.201709532.
            </li>
            <li>Comba, P., Jermilova, U., Orvig, C., Patrick, B. O., Ramogida, C.F., Rück, K., Schneider, C., Starke, M.
                (2017) Octadentate picolinic acid-based bispidine ligand for radiometal ions. Chemistry A European
                Journal, 23, 15945-15956. doi:
                <a class="underline" href="10.1002/chem.201702284">10.1002/chem.201702284</a>.
            </li>
            <li>Spreckelmeyer, S., Ramogida, C.F., Rousseau, J., Arane, K., Bratanovic, I., Colpo, N., Jermilova, U.,
                Dias, G.M., Dude, I., Jaraquemada-Peláez, M. de G., Bénard, F., Schaffer, P., Orvig, C. (2017)
                p-NO2-Bn-H4neunpa and H4neunpa-trastuzumab: Bifunctional chelator for radiopharmaceuticals and 111In
                immuno-SPECT imaging. Bioconjugate Chemistry, 28, 2145-2159.
            <li>Robertson, A.K.H., Ramogida, C.F., Rodriguez-Rodriguez, C., Blinder, S., Kunz, P., Sossi, V., Schaffer,
                P. (2017) Multi-isotope SPECT imaging of the 225Ac decay chain: feasibility studies. Physics in Medicine
                and Biology, 62, 4406.
                <a class="underline" href="doi.org/10.1088/1361-6560/aa6a99">doi.org/10.1088/1361-6560/aa6a99</a>
            </li>
        </ul>
        <ul class="space-y-3 block" id="2016">
            <li>Weekes, D.M., Ramogida, C.F., Jaraquemada-Peláez, M.G., Patrick, B.O., Apte, C., Kostelnik, T.I.,
                Cawthray, J.F., Murphy, L., Orvig, C. (2016) Dipicolinate complexes of gallium(III) and lanthanum(III).
                Inorganic Chemistry, 55, 12544-12558.
            <li>Ramogida, C.F., Schindler, D., Schneider, C., Tan, Y.L.K., Huh, S., Ferreira, C.L., Adam, M.J., Orvig,
                C. (2016) Synthesis and characterization of lipophilic cationic Ga(III) complexes based on the
                H2CHXdedpa and H2dedpa ligands and their 67/68Ga radiolabeling studies. RSC Advances, 6, 103763-103773.
            </li>
            <li>Ramogida, C.F., Boros, E., Patrick, B.O., Zeisler, S. K., Kumlin, J., Adam, M.J., Schaffer, P., Orvig,
                C. (2016) Evaluation of H2CHXdedpa, H2dedpa- and H2CHXdedpa-N,N’-propyl-2-NI ligands for 64Cu(II)
                radiopharmaceuticals. Dalton Transactions, 45, 13082-13090.
            <li>Ramogida, C.F., Murphy, L., Cawthray, J.F., Ross, J.D., Adam, M.J., Orvig, C. (2016) Novel “bi-model”
                H2dedpa derivatives for radio- and fluorescence imaging. Journal of Inorganic Biochemistry, 162,
                253-262. Invited for Prof. G. R. Hanson Memorial issue.</li>
        </ul>
        <ul class="space-y-3 block" id="2015">
            <li>Ramogida, C.F., Pan, J., Ferreira, C. L., Patrick, B.O., Rebullar, K., Yapp, D.T.T., Lin, K-.S., Adam,
                M.J., Orvig, C. (2015) Nitroimidazole-containing H2dedpa and H2CHXdedpa derivatives as potential PET
                imaging agents of hypoxia with 68Ga. Inorganic Chemistry, 54, 4953-4965.</li>
            <li>Ramogida, C.F., Cawthray, J.F., Boros, E., Ferreira, C.L., Patrick, B.O., Adam, M.J., Orvig, C. (2015)
                H2CHXdedpa and H4CHXoctapa – Chiral acyclic chelating ligands for 67/68Ga and 111In
                radiopharmaceuticals. Inorganic Chemistry, 54, 2017-2031.</li>
        </ul>
        <ul class="space-y-3 block" id="2013">
            <li>Ramogida, C.F., Orvig, C. (2013) Tumour targeting with radiometals for diagnosis and therapy. Chemical
                Communications, 49, 4720-4739.</li>
            <li>Price, E.W., Zeglis, B.M., Cawthray, J.F., Ramogida, C.F., Ramos, N., Lewis, J.S., Adam, M.J., Orvig, C.
                (2013) H4octapa-Trastuzumab: Versatile acyclic chelate system for 111In and 177Lu imaging and therapy.
                Journal of the American Chemical Society, 135, 12707-12721.</li>
        </ul>
        <ul class="space-y-3 block" id="2012">
            <li>Dunn, T.J., Chiang, L., Ramogida, C.F., Webb, M.I., Savard, D., Sakaguchi, M., Ogura, T., Shimazaki, Y.,
                Storr, T. (2012) Non-innocent ligand behaviour of a bimetallic Cu complex employing a bridging
                catecholate. Dalton Transactions, 41, 7905-7914.</li>
        </ul>
        <ul class="space-y-3 block" id="2011">
            <li>Dunn, T.J., Ramogida, C.F., Simmonds, C., Paterson, A., Wong, E.W.Y., Chiang, L., Shimazaki, Y., Storr,
                T. (2011) Non-innocent ligand behaviour of bimetallic Ni Schiff-base complex containing a bridging
                catecholate. Inorganic Chemistry, 50, 6746-6755.</li>
            <li>Shimazaki, Y., Arai, N., Dunn, T.J., Yajima, T., Tani, T., Ramogida, C.F., Storr, T. (2011) Influence of
                the chelate effect on the electronic structure of one-electron oxidized group 10
                metal(II)-disalicylidene diamine complexes. Dalton Transactions, 40, 2469-2479.</li>
        </ul>
        <ul class="space-y-3 block" id="2010">
            <li>Van Donkersgoed, J., Sit, D., Gibbons, N., Ramogida, C., Hendrick, S. (2010) Drug residues recovered in
                feed after various feedlot mixer truck cleanout procedures. Journal of Food Protection, 6, 75-80.</li>
        </ul>


    </div>









    <script src="scripts/publications.js"></script>


    <%- include('../templates/footer'); -%>