<%- include('../templates/header'); -%>
<div class="ml-9 mt-4 text-4xl">Publications</div>

<div id="dateSlider" class="mt-4 flex justify-between text-2xl mx-9">



</div>


<script src="scripts/publications.js"></script>


<%- include('../templates/footer'); -%>