<%- include('../templates/header'); -%>
    <div class="space-y-4 px-3 sm:px-9 py-4">
        <div id="research_intro">
        <div class="text-3xl sm:text-4xl mb-3 sm:mb-8">Nuclear Medicinal Chemistry & Radiometal Chemistry</div>
        <div class="space-x-4 block sm:flex flex-row">
            <div>Nuclear medicine is a powerful technique with the ability to image disease non-invasively and
                subsequently treat the diseased tissue by injecting a radioactive isotope fused to a disease-targeting
                biomolecule. The targeting vector (aka biomolecule) is often a small molecule, peptide, or antibody
                which exhibits high affinity for over-expressed surface receptors on diseased cells (e.g., cancer
                cells). Covalent attachment of the radionuclide to a biomolecule ensures that the radioactive payload is
                specifically and efficiently delivered to the cells or tissue that a physician needs to image or treat.
                Our lab exploits metallic radionuclides (aka radiometals) and their diverse radioactive decay properties
                for both imaging and therapy of disease.
                <br>
                <br>
                For example, radioisotopes that decay via gamma ray or positron
                emission can be used for single-photon emission computed tomography (SPECT), or positron emission
                tomography (PET) imaging, respectively.
                Radioisotopes that emit beta particles, alpha particles, or
                Meitner-Auger electrons can be used for targeted radionuclide therapy (TRT), since these radioactive
                emissions are associated with high linear energy transfer (LET), and can cause harm and kill target
                cells.
                <br>
                <br>
                Current research projects include 1 - medical isotope production, 2 - radiometal chelation, and 3 -
                radiopharmaceutical development.
            </div>
            <div class="block items-center text-center sm:flex pt-3 sm:pt-0 justify-center sm:flex-col">
                <img class="mx-auto" src="mouse.png" alt="">
                <span class="text-center mt-3 sm:mt-0 sm:text-left">SPECT/CT image of tumour bearing-mouse injected with In-111 labeled antibody (Trastuzumab) taken 3 days
                post-injection</span>
            </div>

        </div>
    </div>
        <div id="research_1" class="space-y-4">
            <div class="text-3xl">1. Medical Isotope Production</div>
            <div class="flex flex-row justify-center">
                <img class="items-center" src="MedicalIsotopeProduction.png" alt="">
            </div>
            <div>
                Enabled by unique particle accelerator infrastructure at TRIUMF, we produce, isolate, and characterize
                exotic radiometals that have promising physical decay properties for incorporation into a
                radiopharmaceutical for imaging or therapy. This research entails (1) targetry - preparing targets from
                stable (non-radioactive) starting materials that can withstand the extreme conditions encountered during
                proton irradiation, (2) radiochemical separation – developing methodology that can chemically separate
                the mg-g amounts of target material from the ng-ug amount of radionuclide produced in a form suitable
                for subsequent radiolabeling and radiopharmaceutical development, and (3) characterizing the isolated
                radiometals for radionuclidic and chemical purity using a variety of (radio)analytical techniques. These
                projects are often in collaboration with TRIUMF Scientists.</div>
                <div class="sm:flex flex-row space-x-8">
                    <div class="text-l font-semibold">Published Work: </div>
                <a href="https://www.nature.com/articles/s41598-023-37313-8"><img class="h-10 sm:h-20" src="Naturelogo.jpg" alt=""></a>
                <a href="https://www.sciencedirect.com/science/article/abs/pii/S0021967322009086?via%3Dihub"><img class="h-10 w-auto sm:h-20" src="journalofchromo.png" alt=""></a>
                </div>

        </div>

        <div id="research_2" class="space-y-4">
            <div class="text-3xl">2. Radiometal Chelation</div>
            <div>Many of the radiometal candidates with promising physical decay properties also have limited or
                unexplored chelate chemistry with respect to their radiolabeling properties. A critical component of a
                metal-based radiopharmaceutical is the bifunctional chelator - used to bind the radiometal in a stable
                and inert coordination complex.
                ​<br>
                ​<br>
                We use our expertise in inorganic chemistry and coordination chemistry to design, synthesize, and
                evaluate novel chelating ligands and their radiometal ion complexes <span class="italic">in vitro</span>, <span class="italic">ex vivo</span>, and <span class="italic">in vivo</span>.
                <br>
                <br>
                We investigate the non-radioactive (stable) metal-complex using conventional techniques (NMR, MS, X-ray,
                potentiometry) to gain fundamental insight into the binding environment. We test our chelators with the
                myriad of radiometal ions produced and available to us, and perform in depth radiolabeling and <span class="italic">in vitro</span>
                stability assays.</div>
                <div class="sm:flex flex-row space-x-8">
                    <div class="text-l font-semibold">Published Work: </div>
                    <a href="https://www.sciencedirect.com/science/article/pii/S0969805123006005?via%3Dihub"><img class="h-10 w-auto sm:h-20" src="nuclearmed.png" alt=""></a>
                    <a href="https://chemistry-europe.onlinelibrary.wiley.com/doi/10.1002/chem.202203815"><img class="h-10 w-auto sm:h-20" src="chemistry.jpg" alt=""></a>
                    <a href="https://pubs.acs.org/doi/10.1021/acs.inorgchem.2c03671"><img class="h-10 w-auto sm:h-20" src="inorganic_chem_1.png" alt=""></a>
                    <a href="https://pubs.acs.org/doi/10.1021/acs.inorgchem.1c01274"><img class="h-10 w-auto sm:h-20" src="inorganic_chem_2.png" alt=""></a>
                    </div>
        </div>

        <div id="research_3" class="space-y-4">
            <div class="text-3xl">3. Radiopharmaceutical Development</div>
            <div class="flex flex-row justify-center">
                <img class="items-center" src="Radiopharmaceutical.png" alt="">
            </div>
            <div>
                Enabled by unique particle accelerator infrastructure at TRIUMF, we produce, isolate, and characterize
                exotic radiometals that have promising physical decay properties for incorporation into a
                radiopharmaceutical for imaging or therapy. This research entails (1) targetry - preparing targets from
                stable (non-radioactive) starting materials that can withstand the extreme conditions encountered during
                proton irradiation, (2) radiochemical separation – developing methodology that can chemically separate
                the mg-g amounts of target material from the ng-ug amount of radionuclide produced in a form suitable
                for subsequent radiolabeling and radiopharmaceutical development, and (3) characterizing the isolated
                radiometals for radionuclidic and chemical purity using a variety of (radio)analytical techniques. These
                projects are often in collaboration with TRIUMF Scientists.</div>
                <div class="sm:flex flex-row space-x-8">
                    <div class="text-l font-semibold">Published Work: </div>
                    <a href="https://ejnmmipharmchem.springeropen.com/articles/10.1186/s41181-022-00164-1"><img class="h-10 w-auto sm:h-20" src="EJNMMI.png" alt=""></a>
                    </div>
        </div>

        <div>
            <div class="flex flex-row justify-center space-x-9">
                <div class="space-x-0">
                <div id="research_dot_0_blank"><svg width="50px" height="50px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12Z"
                        stroke="#000000" stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round" />
                </svg></div>
               <div id="research_dot_0_filled"><svg width="50px" height="50px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12Z"
                        fill="#000" stroke="#000000" stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round" />
                </svg></div>
                </div>
                <div id="research_dot_1_blank"><svg width="50px" height="50px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12Z"
                        stroke="#000000" stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round" />
                </svg></div>
                <div id="research_dot_1_filled">
                <svg id="dot_0" width="50px" height="50px" viewBox="0 0 24 24" fill="#F19C33" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12Z"
                        stroke="#000000" stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round" />
                </svg></div>
                <div id="research_dot_2_blank"><svg width="50px" height="50px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12Z"
                        stroke="#000000" stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round" />
                </svg></div>
                <div id ="research_dot_2_filled">
                <svg id="dot_1"  width="50px" height="50px" viewBox="0 0 24 24" fill="#138C82" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12Z"
                        stroke="#000000" stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                </div>
                <div id="research_dot_3_blank"><svg width="50px" height="50px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12Z"
                        stroke="#000000" stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round" />
                </svg></div>
                <div id = "research_dot_3_filled">
                    <svg id="dot_2" width="50px" height="50px" viewBox="0 0 24 24" fill="#D94B25" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12Z"
                        stroke="#000000" stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                </div>
            </div>

        </div>
    </div>


    <script>
        // Function to dynamically load a script
        function loadScript(url) {
            var script = document.createElement('script');
            script.src = url;
            document.head.appendChild(script);
        }
    
        // Check if the screen width is larger than 640px (sm breakpoint in Tailwind CSS)
        if (window.innerWidth >= 640 && window.innerWidth < 1920) {
            loadScript('scripts/research.js');
            console.log(window.innerWidth);
        } else {
            console.log("Screen width is less than 640px");
        }
    </script>




    <%- include('../templates/footer'); -%>