<%- include('../templates/header'); -%>
    <div id="research_intro" class="space-y-4 px-9 py-4">
        <div class="text-4xl">Nuclear Medicinal Chemistry & Radiometal Chemistry</div>
        <div class="flex flex-row space-x-4">
            <div>Nuclear medicine is a powerful technique with the ability to image disease non-invasively and
                subsequently treat the diseased tissue by injecting a radioactive isotope fused to a disease-targeting
                biomolecule. The targeting vector (aka biomolecule) is often a small molecule, peptide, or antibody
                which exhibits high affinity for over-expressed surface receptors on diseased cells (e.g., cancer
                cells). Covalent attachment of the radionuclide to a biomolecule ensures that the radioactive payload is
                specifically and efficiently delivered to the cells or tissue that a physician needs to image or treat.
                Our lab exploits metallic radionuclides (aka radiometals) and their diverse radioactive decay properties
                for both imaging and therapy of disease.
                <br>
                <br>
                For example, radioisotopes that decay via gamma ray or positron
                emission can be used for single-photon emission computed tomography (SPECT), or positron emission
                tomography (PET) imaging, respectively.
                Radioisotopes that emit beta particles, alpha particles, or
                Meitner-Auger electrons can be used for targeted radionuclide therapy (TRT), since these radioactive
                emissions are associated with high linear energy transfer (LET), and can cause harm and kill target
                cells.
                <br>
                <br>
                Current research projects include 1 - medical isotope production, 2 - radiometal chelation, and 3 -
                radiopharmaceutical development.
            </div>
            <div class="flex flex-col">
                <img src="mouse.png" alt="">
                SPECT/CT image of tumour bearing-mouse injected with In-111 labeled antibody (Trastuzumab) taken 3 days
                post-injection

            </div>

        </div>

        <div id="research_1" class="space-y-4 hidden">
            <div class="text-3xl">1. Medical Isotope Production</div>
            <div class="flex flex-row justify-center">
                <img class="items-center" src="MedicalIsotopeProduction.png" alt="">
            </div>
            <div>
                Enabled by unique particle accelerator infrastructure at TRIUMF, we produce, isolate, and characterize
                exotic radiometals that have promising physical decay properties for incorporation into a
                radiopharmaceutical for imaging or therapy. This research entails (1) targetry - preparing targets from
                stable (non-radioactive) starting materials that can withstand the extreme conditions encountered during
                proton irradiation, (2) radiochemical separation – developing methodology that can chemically separate
                the mg-g amounts of target material from the ng-ug amount of radionuclide produced in a form suitable
                for subsequent radiolabeling and radiopharmaceutical development, and (3) characterizing the isolated
                radiometals for radionuclidic and chemical purity using a variety of (radio)analytical techniques. These
                projects are often in collaboration with TRIUMF Scientists.</div>
        </div>

        <div id="research_2" class="space-y-4 hidden">
            <div class="text-3xl">2. Radiometal Chelation</div>
            <div>Many of the radiometal candidates with promising physical decay properties also have limited or
                unexplored chelate chemistry with respect to their radiolabeling properties. A critical component of a
                metal-based radiopharmaceutical is the bifunctional chelator - used to bind the radiometal in a stable
                and inert coordination complex.
                ​<br>
                ​<br>
                We use our expertise in inorganic chemistry and coordination chemistry to design, synthesize, and
                evaluate novel chelating ligands and their radiometal ion complexes in vitro, ex vivo, and in vivo.
                <br>
                <br>
                We investigate the non-radioactive (stable) metal-complex using conventional techniques (NMR, MS, X-ray,
                potentiometry) to gain fundamental insight into the binding environment. We test our chelators with the
                myriad of radiometal ions produced and available to us, and perform in depth radiolabeling and in vitro
                stability assays.</div>
        </div>

        <div id="research_3" class="space-y-4 hidden">
            <div class="text-3xl">3. Radiopharmaceutical Development</div>
            <div class="flex flex-row justify-center">
                <img class="items-center" src="Radiopharmaceutical.png" alt="">
            </div>
            <div>
                Enabled by unique particle accelerator infrastructure at TRIUMF, we produce, isolate, and characterize
                exotic radiometals that have promising physical decay properties for incorporation into a
                radiopharmaceutical for imaging or therapy. This research entails (1) targetry - preparing targets from
                stable (non-radioactive) starting materials that can withstand the extreme conditions encountered during
                proton irradiation, (2) radiochemical separation – developing methodology that can chemically separate
                the mg-g amounts of target material from the ng-ug amount of radionuclide produced in a form suitable
                for subsequent radiolabeling and radiopharmaceutical development, and (3) characterizing the isolated
                radiometals for radionuclidic and chemical purity using a variety of (radio)analytical techniques. These
                projects are often in collaboration with TRIUMF Scientists.</div>
        </div>

        <div class="flex flex-row justify-center">
            <svg width="50px" height="50px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12Z"
                    stroke="#000000" stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
            <svg width="50px" height="50px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12Z"
                    stroke="#000000" stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
            <svg width="50px" height="50px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12Z"
                    stroke="#000000" stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
        </div>


        <div>




        </div>

    </div>


    <script src="scripts/research.js"></script>




    <%- include('../templates/footer'); -%>