a {
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}


@keyframes select {
    0% {
        border-bottom: 1px solid black;
        border-left: 1px solid black;
    }

    25% {
        border-bottom: 1px solid black;
        border-left: 1px solid black;
        border-top: 1px solid black;
    }

    100% {
        border-bottom: 1px solid black;
        border-left: 1px solid black;
        border-top: 1px solid black;
        border-right: 1px solid black;

    }
}


a:hover {
    color: #429bdf;
    animation: select 10s infinite;

}