a {
    padding: 5px;
}

#title {
    color: #A6192E
}

#title:hover {
    color:#138C82
}

#triumf {
    color: #47B2D6;
}

#triumf:hover {
    color: #F19C33;
}

#bccancer {
    color: #945ca4
}

#bccancer:hover {
    color:#A6192E
}

a:hover {
    color: #A6192E;
}


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 50%;
    width: 90%;
    height: 90%;
    padding: 2rem;
    border: 3px solid #584632;
    overflow: auto;
    background-color: #F0EECD;
    transform: translate(-50%, -50%);
}

.close {
    color: #aaa;
    float: right;
    font-size: 1rem;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }


#modal_button {
    background-color: #A6192E;
    color: white;
    border-color: #A6192E;

}

#modal_button:hover {
    background-color: #138C82;
    border-color: #138C82;
}

@keyframes modal_interact {
    0% {opacity: 0.2}
    50% {opacity: 0.5}
    100% {opacity: 1}
}

body {
    background-color: #F0EECD;

}

#research_intro {
    display: block;
}

#research_1 {
    display: none;
}

#research_2 {
    display: none;
}

#research_3 {
    display: none;
}