<%- include('../templates/header'); -%>
<div class="ml-9 my-4 text-4xl">News</div>
<div class="mx-9 space-y-3">
    <div>
        <div class="text-2xl">Rare Isotopes to Transform Cancer Therapy' NFRF-T Program awarded nearly $24mil</div>
        <div class="text-xl">July 2023 <a class="text-lg" href="https://www.sshrc-crsh.gc.ca/funding-financement/nfrf-fnfr/stories-histoires/2023/fight_cancer-lutter_contre_le_cancer-eng.aspx">https://www.sshrc-crsh.gc.ca/funding-financement/nfrf-fnfr/stories-histoires/2023/fight_cancer-lutter_contre_le_cancer-eng.aspx</a>
        </div>
    </div>
    <div>
        <div class="text-2xl">Lexi wins SFU Chemistry Undergraduate Research Presentation Award!</div>
        <div class="text-xl">April 2020
        </div>
    </div>
    <div>
        <div class="text-2xl">TRIUMF documentary released, "The rarest drug on earth"</div>
        <div class="text-xl">September 2018. Produced by Avocado video, this <a href="https://rarestdrug.com/">10-minute documentary</a> highlights TRIUMF's efforts to produce the promising alpha-emitter actinium-225. </div>
    </div>


</div>






<%- include('../templates/footer'); -%>