</body>


<footer>
    <div class="sm:flex flex-row sm:justify-center sm:space-x-9 mt-24 px-6">
    <a href="/"><img class="h-20" src="Lab Logo.png" alt=""></a>
    <a href="http://www.sfu.ca/chemistry.html"><img class="h-20" src="SFU.png" alt=""></a>
    <a href="https://www.triumf.ca/"><img class="h-20" src="TRIUMF.jpg" alt=""></a>
    </div>
</footer>